.DS_Store
*.pyc
__pycache__
*data/*
*logs*
*output*
SURREAL/EMA-Processing/data
*.log
*.png
*.csv
*.xlsx
*.xls
*.json
*.pkl
*.h5
*.joblib
*.joblib
SURREAL/data/
*.txt
*.log
*.csv
*.json
*.pkl
*.h5
*.joblib
*.html
*viz
*media
